---
---

@import "{{ site.theme }}";

header {
  background: #228833;
}

#banner {
  border: #8B4513;
  background: #DEB887;

  a.button.fork {
    border: 1px solid #8b4513;
    background: linear-gradient(rgb(222 184 135), rgb(139, 6,9 19));
    background-color: #DEB887;
  }
}