---
---

@import "{{ site.theme }}";

header {
  background: #228833;
}

#banner {
  border: #DEB887;
  background: #8B4513;

  a.button.fork {
    border: 1px solid #8b4513;
    background: linear-gradient(rgb(222, 184, 135), rgb(139, 69, 19));
    background-color: #DEB887;
  }
}