---
---

@import "{{ site.theme }}";

header {
  background: #228833;
}

body {
  background: #DEB887;
}

p {
  text-indent: 2em;
}

#banner {
  border: 1px solid #DEB887;
  background: #8B4513;

  a.button.fork {
    border: 1px solid #8b4513;
    background: linear-gradient(rgb(139, 69, 19), rgb(200, 100, 50));
    background-color: #DEB887;
    
    strong {
      color: #f3f3f3;
    }
  }

  a.button.download {
    border: 1px solid #8b4513;
    background: linear-gradient(rgb(139, 69, 19), rgb(200, 100, 50));
    background-color: #DEB887;
    color: #f3f3f3;
  }
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}